<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cyz.maoyan.mapper.FilmMapper">
    <select id="getFilmListByState" resultType="com.cyz.maoyan.entity.Film">
        select * from film where del = 0 and play_state = #{state}
    </select>
    <select id="getFilmTop100" resultType="com.cyz.maoyan.dto.FilmDTO">
        select film.*, avg(comment.score) as score
        from film
                 left join comment on film.id = comment.film_id
        where film.del = 0 and comment.del = 0
        group by film.id
        order by score desc
    </select>
    <select id="selectFilmList" resultType="com.cyz.maoyan.dto.FilmDTO">
        select film.*, avg(comment.score) as score
        from film left join film_types on film.id = film_types.film_id
        left join comment on film.id = comment.film_id
        <where>
            film.del = 0
            <if test="typeId != null">
                and type_id = #{typeId}
            </if>
            <if test="regionId != null">
                and region_id = #{regionId}
            </if>
            <if test="begin != null and end != null">
                and release_date between #{begin} and #{end}
            </if>
            and comment.del = 0
        </where>
        group by film.id
        <if test="sort == 1">
            order by want_see desc
        </if>
        <if test="sort == 2">
            order by release_date desc
        </if>
        <if test="sort ==3 ">
            order by score desc
        </if>
    </select>
    <select id="getFilmExpectation" resultType="com.cyz.maoyan.entity.Film">
        select * from film where del = 0 order by want_see  desc
    </select>
    <select id="selectFilmById" resultType="com.cyz.maoyan.entity.Film">
        select * from film where id = #{id}
    </select>
    <select id="selectFilmDTOById" resultType="com.cyz.maoyan.dto.FilmDTO">
        select film.*, avg(comment.score) as score, count(comment.id) as commentCount
        from film
                 left join comment on film.id = comment.film_id
        where film.id = #{id}
        group by film.id
    </select>
    <update id="updateFilm">
        update film
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="englishName != null">
                english_name = #{englishName},
            </if>
            <if test="regionId != null">
                region_id = #{regionId},
            </if>
            <if test="duration != null">
                duration = #{duration},
            </if>
            <if test="releaseDate != null">
                release_date = #{releaseDate},
            </if>
            <if test="showingArea != null">
                showing_area = #{showingArea},
            </if>
            <if test="posterUrl != null">
                poster_url = #{posterUrl},
            </if>
            <if test="introduction != null">
                introduction = #{introduction},
            </if>
            <if test="wantSee != null">
                want_see = #{wantSee},
            </if>
            <if test="playState != null">
                play_state = #{playState},
            </if>
            <if test="del != null">
                del = #{del},
            </if>
        </set>
        where id = #{id}
    </update>


</mapper>
