<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cyz.maoyan.mapper.TrailerMapper">
    <select id="getTrailerListByFilmId" resultType="com.cyz.maoyan.entity.Trailer">
        select * from trailer where film_id = #{filmId}
    </select>
</mapper>
